{% include 'ticket/user/user_menu.html' %}

<form id="user_edit" class="pure-form pure-form-aligned">
    <fieldset>
        <legend class="legend">Edit User</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
            {%  if field.help_text %}<span class="bctooltip" title="{{ field.help_text }}">?</a>{% endif %}
            {% if field.errors %}
            <span class="bcerror" title="{% for error in field.errors %}{{ error }}
            {% endfor %}">&bull;</a>
            {% endif %}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'user_edit' pk=object.id %}','user_edit');return false;">Update User</div>
        </div>
    </fieldset>
</form>