{% include 'ticket/user/user_menu.html' %}

<form id="user_add" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Add User</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'user_add' %}','user_add');">Add User</div>
        </div>
    </fieldset>
</form>