<form id="user_login" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Login</legend>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input type="text" id="id_username" name="username" value="">
        </div>
        <div class="pure-control-group">
            <label for="password">password</label>
            <input type="password" id="id_password" name="password" value="">
        </div>
        <div class="pure-controls">
            {% csrf_token %}
            <button class="pure-button pure-button-primary" onclick="getFragment('{% url 'user_login' %}','user_login');return false;">Login</button>
            <span style="color:red;">{{ form_errors }}</span>
        </div>
    </fieldset>
</form>