{% include 'ticket/feature/feature_menu.html' %}
<script>menuSwitch('List');</script>

<table class="pure-table" style="width:800px;">
    <thead>
        <tr>
            <th>Priority</th>
            <th style="width:100%;">Title</th>
            <th>Client</th>
            <th>Product</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.priority }}</td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=object.id %}','token')">{{ object.title}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=object.id %}','token')">{{ object.client.name}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=object.id %}','token')">{{ object.product.name}}</a></td>
            <td><a class="button-delete" href="#" onclick="getFragment('{%  url 'feature_delete' pk=object.id %}','feature_delete')">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>