{% include 'ticket/feature/feature_menu.html' %}
<script>menuSwitch('Add');</script>

<form id="feature_add" class="pure-form pure-form-aligned">
    <fieldset>
        <legend class="legend">Add Feature</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
            {%  if field.help_text %}<span class="bctooltip" title="{{ field.help_text }}">?</a>{% endif %}
            {% if field.errors %}
            <span class="bcerror" title="{% for error in field.errors %}{{ error }}
            {% endfor %}">&bull;</a>
            {% endif %}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'feature_add' %}','feature_add');return false;">Add Feature</div>
        </div>
    </fieldset>
</form>