{% include 'ticket/feature/feature_menu.html' %}

<form id="feature_edit" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Edit Feature</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'feature_edit' pk=object.id %}','feature_edit');">Update Feature</div>
        </div>
    </fieldset>
</form>