{% include 'ticket/feature/feature_menu.html' %}

<form id="feature_edit" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Edit Feature</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'feature_edit' pk=object.id %}','feature_edit');return false;">Update Feature</div>
        </div>
    </fieldset>
</form>

{%  if clients %}
<div style="margin-top:20px;">Clients</div>
<table class="pure-table" style="width:800px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Priority</th>
            <th>Target Date</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ feature.id }}</td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=feature.id %}','token')">{{ feature.client.name}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=feature.id %}','token')">{{ feature.priority}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=feature.id %}','token')">{{ feature.date_target|date:"Y-m-d"}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_delete' pk=feature.id %}','product_delete')">del</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}