{% include 'ticket/product/product_menu.html' %}

<form id="product_add" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Add Product</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'product_add' %}','product_add');">Add Product</div>
        </div>
    </fieldset>
</form>