{% include 'ticket/client/client_menu.html' %}
<script>menuSwitch('List');</script>

<table class="pure-table" style="width:800px;">
    <thead>
        <tr>
            <th>ID</th>
            <th style="width:100%;">Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td><a href="#" onclick="getFragment('{%  url 'client_edit' pk=object.id %}','token')">{{ object.name }}</a></td>
            <td><a class="button-delete" href="#" onclick="getFragment('{%  url 'client_delete' pk=object.id %}','client_delete');return false;">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>