{% include 'ticket/client/client_menu.html' %}

<form id="client_edit" class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Edit Client</legend>
        {% for field in form %}
        <div class="pure-control-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            {% csrf_token %}
            <div class="pure-button pure-button-primary" onclick="getFragment('{% url 'client_edit' pk=object.id %}','client_edit');return false;">Update Client</div>
        </div>
    </fieldset>
</form>

{%  if features %}
<div style="margin-top:20px;">Feature Requests</div>
<table class="pure-table" style="width:800px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Product</th>
            <th>Priority</th>
            <th>Target Date</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for feature in features %}
        <tr>
            <td>{{ feature.id }}</td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_edit' pk=feature.id %}','token')">{{ feature.title}}</a></td>
            <td><a href="#" onclick="getFragment('{%  url 'product_edit' pk=feature.product_id %}','token')">{{ feature.product.name}}</a></td>
            <td>{{ feature.priority}}</td>
            <td>{{ feature.date_target|date:"Y-m-d"}}</td>
            <td><a href="#" onclick="getFragment('{%  url 'feature_delete' pk=feature.id %}','product_delete')">del</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}